{{ template "header.html" }}

<div class="album py-4 bg-light">
    <div class="container">
        <div class="row">
            {{range . }}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">
                        <h3>{{.Title}}</h3>
                        <p>{{.Text}}</p>
                        <p>Seen? {{.Seen}}</p>
                        <p>Added by: {{.AddedBy}}</p>
                        </p>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>

    <p style="text-align:center"><a href="/">Click here to return home</a></p>
</div>


{{ template "footer.html" }}