{{ template "header.html" }}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Daren</h1>
        <p class="lead">From sock hands to buzz balls, Daren has it all</p>
        <hr class="my-4">
        <p>Choose your destiny</p>
        <div class="d-grid gap-2">
            <a href="/create" class="btn btn-primary btn-lg btn-custom">Create a Dare</a>
            <a href="/random" class="btn btn-success btn-lg btn-custom">Get a Random Dare</a>
            <a href="/all" class="btn btn-info btn-lg btn-custom">View All Dares</a>
        </div>
    </div>
</div>

{{ template "footer.html" }}