{{ template "header.html" }}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Daren!</h1>
        <p class="lead">Daren is a fun app where you can create, share, and discover exciting dares. Challenge yourself
            and your friends with a variety of creative and engaging dares.</p>
        <hr class="my-4">
        <p>Ready to get started?</p>
        <div class="d-grid gap-2">
            <a href="/create" class="btn btn-primary btn-lg btn-custom">Create a Dare</a>
            <a href="/random" class="btn btn-success btn-lg btn-custom">Get a Random Dare</a>
            <a href="/all" class="btn btn-info btn-lg btn-custom">View All Dares</a>
        </div>
    </div>
</div>

{{ template "footer.html" }}