{{ template "header.html" }}

<div class="album py-4 bg-light">
    <div class="container">
        <h1>Your Random Dare:</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-8 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">
                        <h3>{{.Title}}</h3>
                        <p>{{.Text}}</p>
                        <p>{{.AddedBy}}</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p style="text-align:center"><a href="/home">Click here to return home</a></p>

{{ template "footer.html" }}